# Environment for Docker Compose

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=shooting_game

# Used internally by Postgres init scripts and Go service
DB_HOST=db
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
PG_USER=postgres
PG_USER_PASSWORD=postgres
DATABASE_NAME=shooting_game
